@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flexCenter {
      @apply flex items-center justify-center;
    }
    .flexCol{
      @apply flex flex-col
    }
  }