@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0 font-GmarketSansMedium ;
}

@layer components {
    .flexCenter {
      @apply flex items-center justify-center;
    }
    .flexCol{
      @apply flex flex-col;
    }
    .buttonStylePrimary {
      @apply px-5 py-3 rounded-md shadow-lg transition duration-300  bg-additional3 text-white select-none hover:bg-opacity-75 font-bold;
    }

    .buttonStyleSecondary {
      @apply px-5 py-3 rounded-md shadow-sm hover:bg-additional3 hover:text-white transition duration-300 border-2 border-additional3 bg-white text-additional3   select-none font-bold;
    }

    .buttonStyleTertiary {
      @apply px-5 py-3 rounded-md hover:text-additional3 hover:border-additional3 border-2 transition duration-300  bg-white text-black select-none ;
    }
    .buttonStyle {
      @apply px-5 py-2 rounded-md shadow-lg hover:opacity-75 hover:text-opacity-75 transition duration-300 border bg-white select-none
    }
    .userPageSection {
      @apply px-10 md:px-20 lg:px-40 flexCenter
    }
    .inputStyle {
      @apply  text-primary text-sm m-1;
    }
    .inputStyle input {
      @apply w-[90vw] sm:w-96 h-10 rounded-md px-3 border;
    }
    .inputStyle button{
      @apply w-[90vw] sm:w-96 h-12 rounded-md shadow-md;
    }
    .warning {
      @apply text-red-500 text-xs;
    }
    .success {
      @apply text-green-500 text-xs;
    }
    .boxShadow {
      @apply shadow-md rounded-xl border;
    }
    .hoverAnimationUpDown {
      @apply hover:animate-upALittle animate-downALittle select-none;
    }
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}