{
    "singleQuote": true,
    "semi": true,
    "useTabs": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 100,
    "parser": "babel",
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "overrides": [
        {
          "files": ["*.ts", "*.tsx"],
          "options": {
            "parser": "typescript"
          }
        }
      ]
}
