@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'GmarketSansMedium', sans-serif;
  }
  *{
    @apply box-border m-0 p-0;
  }
  .noScroll::-webkit-scrollbar {
    display: none;
}
}

@layer components {
    .flexCenter {
      @apply flex items-center justify-center;
    }
    .flexCol{
      @apply flex flex-col;
    }
    .userPageSection {
      @apply w-11/12 lg:w-3/4 rounded-xl flexCenter p-5 sm:p-10 bg-white shadow-md
    }
    /* 버튼 관련 */
    .disabledStyle {
      @apply bg-opacity-40 active:scale-100 hover:bg-opacity-40;
    }
    .buttonStyle {
      @apply px-3 sm:px-5 h-12 min-w-12 rounded-md transition-all duration-100 select-none active:scale-95 disabled:disabledStyle
    }
    .buttonStylePrimary {
      @apply buttonStyle  bg-additional3 text-white hover:bg-opacity-70;
    }
    .buttonStyleSecondary {
      @apply buttonStyle  hover:bg-additional3 hover:text-white border border-additional3  text-additional3;
    }
    .buttonStyleTertiary {
      @apply buttonStyle hover:text-additional3 hover:border-additional3 border text-black;
    }
    .activeStyle {
      @apply buttonStyle rounded-xl hover:text-black active:scale-95 active:bg-slate-100 transition text-slate-400 
    }
    /* 텍스트 관련 */
    .textBase {
      @apply text-sm sm:text-base font-medium 
    }
    .textSmall{
      @apply text-xs sm:text-sm font-light
    }
    .textLarge{
      @apply text-lg sm:text-xl font-bold
    }
    .textTitle{
      @apply text-xl sm:text-2xl font-bold
    }
    .warning {
      @apply text-red-500 text-xs;
    }
    .success {
      @apply text-green-500 text-xs;
    }
    /* 애니메이션 관련 */
    .hoverAnimationUpDown {
      @apply hover:animate-upALittle animate-downALittle select-none;
    }
    /* 인터렉션 관련 */
    .interactionPickup {
      @apply hover:scale-[102%] hover:shadow-md active:scale-105 active:shadow-xl shadow-sm transition cursor-pointer
    }
    .interactionPushDown {
      @apply hover:scale-[99.5%] active:shadow-sm active:scale-[98%] active:brightness-[98%] transition
    }
    /* ri 아이콘 관련 */
    .riBase {
      @apply text-2xl text-secondary
    }
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}